/*Author: Ian Christian
Final Project - WEBD 1000
Due Date: December 9, 2022*/

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.put-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}