/*Author: Ian Christian
Final Project - WEBD 1000
Due Date: December 9, 2022*/

.wrapper {
    position: relative;
    width: 100%;
}

.fade-in {
    width: auto;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}