/*Author: Ian Christian
Final Project - WEBD 1000
Due Date: December 9, 2022*/

.contact-container h1,
.contact-container p {
    padding-left: 20px;
    padding-right: 20px;
}

.link-tiles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.contact-tile {
    height: auto;
}

.contact-tile img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 900px) {
    .link-tiles {
        flex-direction: column;
    }

    .contact-tile {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .main-container .fade-in {
        border-radius: 50px;
    }
}